.App {
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

main {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tribute-image img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}
